@using Microsoft.Graph
@{
    ViewBag.Title = "User Profile - Microsoft Graph";
}

@model User

<h2>@ViewBag.Title</h2>

<p>Result sample from Microsoft Graph</p>
<table class="table table-striped table-condensed" style="font-family: monospace">
    <tr>
        <th>Attribute</th>
        <th>Value</th>
    </tr>
    <tr>
        <td>Display Name</td>
        <td>@Model.DisplayName</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@Model.Mail</td>
    </tr>
    <tr>
        <td>Job Title</td>
        <td>@(Model.JobTitle ?? "-")</td>
    </tr>
</table>
